*{
     font-family: "Playfair Display", serif;
}

#contacto{
     background-color: #DBC6F7;
}
#habilidades{
     background-color: black;
}


#hanging-icons{
     background-color:#212529;
     
}

#hanging-icons p{
     color: white;
}

#hanging-icons h3{
     color: white !important;
}
#hanging-icons h2{
     color: white;
}

#proyectos{
     background-color: white;
     font-size: medium;
}

#proyectos a{
     text-decoration: none;
     color: #ffffff;
     font-size: small;
     
}

#proyectos .btn-secondary {
     background-color: #6c757d;
     border: 1px solid #4a4a4a; 
     text-align: center;
}

#contacto h1{
     color: #4E242D;
     font-weight: bold; 
}

#btn-contacto:hover{
     background-color: aliceblue;
}

footer li a i{
     text-decoration: none;
     color: #A594F9;
}

footer p {
     color: #223127;
}

footer p a{
     text-decoration: none;
     color: #4E242D;
}

